.contact {


    &__info {
        padding: 0rem 1.5rem;
        margin-top: 2rem;

        &__card {
            display: flex;
            align-items: center;

            &__titles {
                margin-left: 2rem;
                z-index: 999;

                &__title {

                    font-size: 1.25rem;
                    font-weight: 400;
                    line-height: 1.5rem;
                }

                &__subtitle {
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1rem;
                    letter-spacing: 0px;
                    color: #777777;
                    margin-top: 1rem;

                }

            }
        }

        &__0 {
            transform: translate(135px, -83px);
            width: 8rem;
            
        }
    }

    &__form {
        padding: 0rem 1.5rem;
        margin-top: 3rem;

        &__container {
            width: 100%;
            position: relative;
            background-color: #F8F8F8;
            margin-bottom: 1em;

            &__img {
                position: absolute;
                width: 1em;
                height: 1em;
                top: 1em;
                margin-left: 1rem;
            }
            

            &__input{
                background-color: transparent;
                color: #777;
                width: 100%;
                padding: 1em 2em;
                border: none;
                font-family: "Roboto";
                font-size: 1em;
                font-weight: 400;
                line-height: 1.171875em;
                margin-left: 1rem;

                &--textarea{
                    height: 8rem;
                }
            }
        }

        &__btn{
            text-align: center;
        }
    }
}


@media (min-width: 1000px) {
    .contact__form {
        padding: 0rem 14.5rem;
    }

    .contact__form__group{
        display: flex;
        justify-content: space-between;
    }


    .contact__info {
        justify-content: space-evenly;
        display: flex;
    }

}


@media (min-width: 1300px) {
    .contact__form {
        padding: 0rem 35rem;
    }

    .contact__form__group{
        display: flex;
        justify-content: space-between;
    }

    .information__map{
        width: 80%;
    }

    .contact__info {
        &__2{
            margin-right: 10rem;
           }

       &__3{
        margin-right: 8rem;
       }
    }

}


@media (min-width: 500px) {
    .contact__map {
        display: flex;
    justify-content: center;
    }
}