.menu{
    margin-top: 4rem;

    &__img{
        display: flex;
        justify-content: flex-end;
    }

    &__text{
        padding: 0rem 1rem;
    }

    &__title{
        font-weight: 700;
        font-size: 0.875rem;
        color: #777777;
        margin-bottom: 2rem;
        letter-spacing: 0.175rem;
    }

    &__subtitle{
        font-weight: 400;
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
        color: #222222;
    }

    &__container{
        padding: 0rem 1rem;

        &__menus{
            display: flex;
            margin-bottom: 1rem;
            align-items: center;
        }

        &__menus__img{
            width: 45%;
            height: 125px;

        }

        &__menus__text{
            margin-left: 1.5rem;
        }

        &__menus__text__title{
            font-weight: 400;
    font-size: 1.5rem;
    color: #222222;
    margin-bottom: 0.5rem;
        }

        &__menus__text__p{
            font-weight: 400;
    font-size: 0.875rem;
    color: #222222;
    width: 85%;
    line-height: 24px;
        }
    }

    &__icons{
        display: flex;
        justify-content: flex-end;

        &__left{
            margin-bottom: 1.5rem;
        }
    }


    &__img__container{
        padding: 0rem 1rem;

        &__cheese{
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    
    }
    


    @media (min-width: 1000px) {
        .menu__img__container {
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        gap: 2rem; 
        }

        .menu__img__container__cheese {
            width: 25rem;
        }

        .swiper__pagination__desktop{
            padding: 0rem 10rem;
            margin-left: 1.5rem;
        }
    }