.about {

    &__content {
        background-color: #333333;
        padding: 2rem 1rem 5rem 1rem;
        margin-top: 4.5rem;

        &__title {
            font-weight: 700;
            font-size: 0.8125rem;
            color: white;
            letter-spacing: 0.175rem;
            margin-top: 2rem;
        }

        &__subtitle {
            font-weight: 400;
            font-size: 3.5rem;
            color: white;
            letter-spacing: -0.075rem;
            margin-top: 1.5rem;
        }
    }

    &__select {
        translate: 15% -99%;
        max-width: 12rem;
        background-color: #fff;
        margin-right: 15%;
        margin-left: auto;
        padding: 1rem;

        &__container {
            text-align: center;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.0881rem;
            letter-spacing: -0.03rem;
        }
    }

    &__video__text {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.4719rem;
        letter-spacing: -0.0719rem;
        padding: 3rem 1.5rem 1rem 1.5rem;
        text-align: center;
    }


    &__squares {
        margin: 0 1.5rem 2rem 1.5rem;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &__item {
            padding: 1rem;
        }

        &__item__text {
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 0.875rem;
            letter-spacing: 0.15rem;
        }
    }

}


@media (min-width: 710px) {
    .about {
        &__squares {
            display: flex;
            justify-content: space-around;
        }
    }

    .about__video {
        // padding: 0rem 3rem;
        width: 40rem;
        display: flex;
        justify-content: center;
    }
}


@media (min-width: 1000px) {
    .about {
        &__squares {
            padding: 0rem 12rem;
        }
    }
}


@media (min-width: 645px) {
    .about__content {
        padding: 2rem 6.5rem 5rem 6.5rem;
        &__title {
            margin-top: 3rem; 
        }
    }

    @media (min-width: 700px) {
        .about__content {
            
            &__title {
                margin-top: 6rem; 
            }
        }
    }

    @media (min-width: 1000px) {
        .about__content  {
            &__title {
                margin-top: 8rem; 
            }
        }
    }

    @media (min-width: 1200px) {
        .about__content  {
            &__title {
                margin-top: 10rem; 
            }
        }
    }

    @media (min-width: 1400px) {
        .about__content {
            &__title {
                margin-top: 16rem; 
            }
        }
    }
}