.rooms {
    text-align: center;
    

    &__container{
        padding: 0rem 1rem;



        &__doupleRoom{
        width: 100%;
    }
}

    &__titles--title {
        font-weight: 700;
        font-size: 14px;
        line-height: 0.9375rem;
        text-align: center;
        color: #777777;
        letter-spacing: 0.175rem;
    }

    &__titles--subtitle {
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 3.75rem;
        letter-spacing: -0.075rem;
        text-align: center;
        margin-top: 2rem;
        color: #222222;
    }

    &__container--iconGroup {
        background-color: white;
        width: auto;
        text-align: center;
        padding: 0.5rem;
        margin: 0 3rem 0 3rem;
    
        translate: 0% 50%;
        box-shadow: 0px 2px 10px -5px black;
    }

    &__container--info{
        background-color: white;
    width: auto;
    padding: 0.5rem;
    margin: 0 3rem 0 3rem;
    translate: 0% -18%;
    box-shadow: 0px 2px 10px -5px black;

    &--description--title{
        font-weight: 400;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -0.075rem;
    color: #222222;
    }

    &--description--text{
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: #777777;
    }

    &--price--number{
        display: inline-block;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.6875rem;
    color: #BEAD8E;
    }

    &--price--text{
        display: inline-block;
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 2.6875rem;
    color: #BEAD8E;
    }
    }
}