.roomsDetail {

    &__info {
        padding: 0rem 1.5rem;

        &__container__title {
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 0.9519rem;
            color: #777777;
            letter-spacing: 0.175rem;
            margin-bottom: 0.5rem;
        }

        &__container__subtitle {
            font-size: 2.375rem;
            font-weight: 400;
            line-height: 3rem;
            letter-spacing: -0.09rem;
            margin-bottom: 1rem;
        }

        &__container__number {
            font-size: 2rem;
            font-weight: 700;
            line-height: 2.6875rem;
            color: #BEAD8E;
            display: inline-block;
        }


        &__container__p {
            font-size: 0.8125rem;
            font-weight: 700;
            line-height: 2.6875rem;
            color: #BEAD8E;
            display: inline-block;
        }

        &__img {
            width: 100%;
            margin-top: 0.5rem;
        }
    }

    &__check {
        padding: 0rem 2.5rem;

        &__p {
            text-align: center;
            margin-bottom: 1.5rem;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.2237rem;
            letter-spacing: -0.0338rem;
            margin-top: 2rem;
        }

        &__container__p {
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            font-size: 0.875rem;
            font-weight: 700;
            line-height: 0.9519rem;
        }

        &__container__input {
            background-color: #F8F8F8;
            padding: 1rem 1rem 1rem 1rem;
            border: none;
            background-position: 90%;
            width: 100%;
        }

        &__btn {
            width: 100%;
            margin-top: 2rem;
        }
    }


    &__text {
        margin-top: 3rem;
        padding: 0rem 1.5rem;

        &__p {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            color: #777777;
        }

    }

    &__amenities {
        padding: 0rem 1.5rem;
        margin-top: 2rem;

        &__title {
            font-size: 1.875rem;
            font-weight: 400;
            line-height: 1.875rem;

        }



        &__info {
            display: flex;
            justify-content: space-around;

            &__ul {
                list-style: none;

                &__li {
                    display: flex;
                    align-items: center;
                    margin-top: 1rem;

                    &__p {
                        margin-left: 0.8rem;
                    }
                }


            }
        }
    }

    &__founder {
        padding: 0rem 2rem;

        &__container {
            text-align: center;
            margin-top: 5rem;

            &__img {



                &__check {
                    transform: translate(216px, -142px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid white;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    background-color: #BDAC8D;
                    color: white;
                }
            }

            &__name {

                &__title {

                    font-size: 1.875rem;
                    font-weight: 400;
                    line-height: 1.875rem;
                    letter-spacing: -0.0562rem;


                }

                &__subtitle {
                    color: #BDAC8D;
                    margin-top: 1rem;
                    font-size: 0.875rem;
                    font-weight: 700;
                    line-height: 0.9519rem;
                    letter-spacing: 0.175rem;


                }

                &__p {
                    margin-top: 1rem;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5rem;
                    color: #777777
                }
            }

        }
    }

    &__cancellation {
        padding: 0rem 1.5rem;
        margin-top: 5rem;


        &__title {
            font-size: 1.875rem;
            font-weight: 400;
            line-height: 1.875rem;
        }

        &__p {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            color: #777777;

        }
    }

    &__related {
        margin-top: 3rem;
        padding: 0rem 1.5rem;

        &__title {
            font-size: 1.875rem;
            font-weight: 400;
            line-height: 1.875rem;
        }

    }
}




.apart {
    background-color: #f1f1f1;
    height: 0.0625rem;
    border: 0;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}


@media (min-width: 850px) {
    .roomsDetail__flex {
        display: flex;
        padding: 0rem 6rem;
    }

    .roomsDetail__text__p {
        width: 80%;
        padding: 0rem 6rem;
    }
}



@media (min-width: 1000px) {
    .roomsDetail__info__img {
        width: 70%;
    }

    .roomsDetail__info__img {
        padding: 0rem 0rem;
    }

    .roomsDetail__check {
        padding: 0rem 0rem;
    }

    .roomsDetail__flex {
        padding: 0rem 7rem;
    }

    .roomsDetail__amenities {
        padding: 0rem 7rem;
    }

    .roomsDetail__founder {
        padding: 0rem 7rem;
    }

    .roomsDetail__founder__container {
        padding: 4rem 2rem;
        width: 22rem;
        box-shadow: 0px 14px 24px 0px #BEAD8E45;

        &__img__check{
            transform: translate(176px, -149px);
        }
    }

    .roomsDetail__cancellation {
        padding: 0rem 7rem;

        &__p{
            width: 40rem;
        }
    }

    .roomsDetail__related {
        padding: 0rem 7rem;
    }
}

