.swiper__pagination {
    padding: 1rem;

    .swiper-wrapper {
        height: 38%;
    }

    .swiper-pagination-bullet-active {
        background: #BEAD8E;
    }

    &--facilities {
        padding: 0rem;
    }
}

//****************

.swiper-arrows {
    .swiper-wrapper {
        height: 60%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 90%;
        width: 3em;
        height: 3em;
        color: #FFF;
        background-color: #BDAC8D;
        font-weight: 700;

        &--disable {
            transform: translate(268px, 0px);
            background-color: #F8F8F8;
            color: #111;
            font-weight: 700;

            &:hover {
                color: #FFF;
                background-color: #BDAC8D;
                
            }
        }

        &--menu:hover {
            background-color: #F8F8F8;
            color: #111;
        
        }

    }

    

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 1em;
    }
}

.swiper-arrowFacilities{

    .swiper-wrapper {
        height: 50%;
    }

    .swiper-button-prev--izq, .swiper-button-prev--der{
        top: 9rem;
        width: 3em;
        height: 3em;
        color: #FFF;
        background-color: #BDAC8D;
        font-weight: 700;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 1em;
    }
}


.swiper-arrowTests--background{
    padding: 3rem 2rem;
    background: #222222;
}

.swiper-pag-abouts {
    .swiper-pagination-bullet-active {
        background: #BEAD8E;
    }
}